.card {
    padding: 1rem;
    width: 103%;
    &-text {
        color: var(--blue-2);
    }
    &__img {
        width: 30%;
        margin: 0 auto;
        height: 250px;
        margin-top: 2rem;
    }
    &__link {
        text-decoration: none;
        color: inherit;
    }
    &-title {
        font-weight: bold !important;
        margin: 1rem 0 !important;
        color: var(--blue-3);
    }
    &__link:active,
    &__link:focus,
    &__link:hover {
        text-decoration: none;
        color: inherit;
    }
}
